<p><%= t('.account_information') %></p>
<br />
<% if @user.errors.any? %>
<p id="errors">
	<%= t('.the_following_errors___no_update') %>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
</p>
<% end %>
<%= form_for(@user) do |f| %>

  <%= f.label :username, t('.username') %> <%= f.text_field :username %>
  <br/>
  <%= f.label :password, t('.password') %> <%= f.text_field :password %>
  <br/>
  <%= f.label :password_confirmation, t('.password_confirmation') %> <%= f.text_field :password_confirmation %>
  <br/>
  <%= f.label :M_gender, t('.male') %> <%= f.radio_button :gender, "M" %>
	<%= f.label :F_gender, t('.female') %> <%= f.radio_button :gender, "F" %>
  <br/>
  <%= f.submit t('.update') %>
  
<% end %>