<ul id="title_and_actions">
	<li id="title">List of expenses - </li>
	<li><%= link_to "Record a new expense", new_expense_path %></li>
</ul>

<% if @expenses.any? %>
<table id="expenses">
	<tr>
		<th>What</th>
		<th>How much</th>
		<th>When</th>
		<th>Who</th>
	</tr>
	<% @expenses.each do |exp| %>
	<tr>
		<td><%= exp.label %></td>
		<td><%= number_to_currency(exp.amount) %></td>
		<td><%= exp.spent_on %></td>
		<td><%= exp.user.username %></td>
	</tr>
	<% end %>
<% else %>
	No expenses yet, why not <%= link_to "create a new one", new_expense_path %> ?
<% end %>