<ul id="title_and_actions">
	<li id="title">List of expenses - </li>
	<li><%= link_to "Record a new expense", new_expense_path %></li>
</ul>

<% if @expenses.any? %>
<table id="expenses">
	<tr>
		<th>What</th>
		<th>How much</th>
		<th>When</th>
		<th>Who</th>
		<th>Actions</th>
	</tr>
	<% @expenses.each do |exp| %>
	<tr class="<%= gender(exp.user) %>">
		<td><%= exp.label %></td>
		<td><%= number_to_currency(exp.amount, :unit => '€', :separator => ',', :delimiter => ' ') %></td>
		<td><%= exp.spent_on %></td>
		<td><%= exp.user.username %></td>
		<td><%= link_to 'Edit', edit_expense_path(exp) %> or <%= link_to 'Delete', exp, :confirm => 'Are you sure?', :method => :delete %>		</td>
	</tr>
	<% end %>
<% else %>
	No expenses yet, why not <%= link_to "create a new one", new_expense_path %> ?
<% end %>