<ul id="title_and_actions">
	<li id="title"><%= t('.list') %> - </li>
	<li><%= link_to t('.record_new_expense'), new_expense_path %></li>
</ul>

<% if @expenses.any? %>
<table id="expenses">
	<tr>
		<th><%= t('.when') %></th>		
		<th><%= t('.what') %></th>
		<th><%= t('.how_much') %></th>
		<th><%= t('.who') %></th>
		<th><%= t('.actions') %></th>
	</tr>
	<tr class="balance">
		<td rowspan="2"><%= Date.today %></td>
		<td rowspan="2"><%= t('.balance') %></td>
		<td><%= @users.first[:total] %></td>
		<td><%= @users.first[:username] %></td>
	</tr>
	<tr class="balance">
		<td><%= @users.second[:total] %></td>
		<td><%= @users.second[:username] %></td>
	</tr>
	<% @expenses.each do |exp| %>
	<tr id="expense_<%= exp.id %>" class="<%= gender(exp.user) %>">
		<td><%= exp.spent_on %></td>
		<td><%= exp.label %></td>
		<td><%= number_to_currency(exp.amount, :unit => '€ ', :separator => ',', :delimiter => ' ') %></td>
		<td><%= exp.user.username %></td>
		<td>
			<%= link_to t('.details'), expense_path(exp), remote: true, id: "details_for_#{exp.id}" %>,
			<%= link_to t('.edit'), edit_expense_path(exp) %> or
			<%= link_to t('.delete'), exp, :confirm => t('.confirm_delete'), :remote => true, :method => :delete %>
		</td>
	</tr>
	<% end %>
<% else %>
	t('.none_yet') <%= link_to t('.new_one'), new_expense_path %> ?
<% end %>