<ul id="title_and_actions">
	<li id="title">Login</li>
</ul>

<%= form_for(@user_session) do |f| %>
	<% if @user_session.errors.any? %>
	<div id="errors">
		The following errors prevented you from login in the application
		<ul>
			<% @user_session.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
		<a href="#" class="close" alt="close" onclick="$('errors').fade(); return false;">close</a>
	</div>
	<% end %>

  <%= f.label :username %> <%= f.text_field :username %>
  <br/>
  <%= f.label :password %> <%= f.password_field :password %>
  <br/>
  <%= f.submit 'Login' %>
  
<% end %>