<ul id="title_and_actions">
	<li id="title"><%= t('.login') %></li>
</ul>

<%= form_for(@user_session) do |f| %>
	<% if @user_session.errors.any? %>
	<div id="errors">
		<%= t('.the_following_errors___no_login') %>
		<ul>
			<% @user_session.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
		<a href="#" class="close" alt="close" onclick="$('errors').fade(); return false;">close</a>
	</div>
	<% end %>

  <%= f.label t('.username') %> <%= f.text_field :username %>
  <br/>
  <%= f.label t('.password') %> <%= f.password_field :password %>
  <br/>
  <%= f.submit t('.login_button') %>
  
<% end %>