<!DOCTYPE html>
<html>
	<head>
  	<title>N&oslash;skvabbel</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
	  <%= csrf_meta_tag %>
	</head>
	<body>
		
		<% if flash[:notice] %>
			<p id="flash" title="click to close" onclick="this.shrink();"><%= flash[:notice] %></p>
		<% end %>
		
		<div id="container">

			<div id="header">

				<h1 id="application"><%= link_to 'N&oslash;skvabbel'.html_safe, '/', :class => 'no_color' %></h1>
				
				<% if current_user %>
					<h3>&nbsp;-&nbsp;<%= t('.hi') %><span class="<%= gender(current_user) %>"> <%= current_user.username %></span>!
					<% if current_user.couple %>
						<%= t('.in_couple_with') %> <span class="<%= gender(other_mate_in_couple_with(current_user)) %>"><%= other_mate_in_couple_with(current_user).username %></span>.
					<% else %>
      			<%= t('.not_in_couple_yet') %>
					<% end %>
					</h3>
					<div id="account">
						<%= link_to t('.account'), account_path %> |
						<%= link_to t('.logout'), logout_path %>
					</div>
				<% else %>
					<h3>&nbsp;-&nbsp;<%= t('.tagline') %></h3>
				<% end %>
			
			</div>
			
			<div id="content">
				<%= yield %>
			</div>

		</div>
	
	</body>
</html>
